@import "./../../scss/mixins";
.slide {
  max-height: 415px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 48px 0 !important;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill;
  }
  .slideText {
    position: absolute;
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    .logo {
      width: 11em;
      height: 7em;
    }
    .subHeading {
      font-size: 24px;
      font-weight: 300;
    }
  }
}
@media screen and (max-width: map-get($breakpoints,"mdl")) {
  .slide {
    margin-top: 0 !important;
    margin-bottom: 32px !important;
    height: 215px;
  }
  .dashboard-container {
    margin: 0;
    padding: 0;
    max-width: fit-content;
  }
}
